.container {
  width: 100%;
  height: 100vh;
  background-color: rgba(62, 62, 62, 0.8);
  color: inherit;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translateX(-100%);
  transition: all 2s;
}

.barIn {
  animation: sideBarAnimation 0.5s forwards;
  opacity: 1;
}

.barOut {
  animation: sideBarAnimationOut 0.9s forwards;
}

.iconBox {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1.6rem;
}

.linkBox {
  width: 80%;
  height: 100vh;
  left: 0;
  display: flex;
  align-items: center;
  /* justify-content: flex-start; */
  background-color: #512803;
  position: fixed;
}

.linkList {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.navLinks {
  /* text-align: center; */
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: capitalize;
  width: 100%;
  display: inline-block;
  padding: 0.6rem 2rem;

  transition: all 0.2s;
}

.navLinks:hover {
  background-color: #713500;
}

@keyframes sideBarAnimation {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes sideBarAnimationOut {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}
